@media only screen and (max-width: 600px) {
    body {
        background-color: #e0dde1;
        transition: background-color .5s;
    }

    .sticky-icon {
        visibility: hidden;
    }

    .myburger {
        position: fixed;
        z-index: 500;
        top: 5%;
        left: 2%;
    }

    .sticky-contact {
        visibility: hidden;
    }

    .sidenav {
        font-size: 12pt;
        line-height: 16pt;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 501;
        top: 0px;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        text-align: center;
        font-family: 'Archivo', sans-serif;
        font-weight: 400;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 36px;
        /*color: #818181;*/
        display: block;
        transition: 0.3s;
        color:#dad8dc;

    }

    .sidenav a:hover {
        color: darkgray;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color:#dad8dc;
    }

    .NavP {
        padding: 15%;
        font-size: 12pt;
        text-align: center;
        font-family: 'Archivo', sans-serif;
        font-weight: 400;
        color:#dad8dc;
    }

    /******HOMESCREEN*******/

    .HS-container {
        z-index: -50;
        background-color: #dad8dc;
        height: 600px;
    }

    .Home-Talk {
        width: 90%;
        margin-top: 50%;
        margin-left: 8%;
    }

    .carousel2 {
        margin-top: -30%;
    }

    /******SECTION 1 SCREENTIME*******/

    .section-heading {

        /*margin-top: 5%;*/
        padding-top: 9%;
        font-family: 'Archivo', sans-serif;
        font-size: 10pt;
        line-height: 5pt;
        font-weight: 400;
        margin-left: 16%;
        margin-bottom: -5%;
    }

    .key-line-1 {
        height: 1px solid black;
        margin-left: 13%;
        margin-top: 7%;
        width: 90px;
        margin-bottom: 3%;
    }

    .heading-VM {
        margin-bottom: 15%;
        margin-left: 10%;

        font-size: 36pt;
        line-height: 36pt;
        font-weight: 700;
        padding-left: 5%;
    }

    .sub-title-VM1 {
        font-family: 'Archivo', sans-serif;
        font-size: 14pt;
        line-height: 18pt;
        font-weight: 400;
        color: #656368;

        margin-left: 12%;
        margin-bottom: 12.5%;
    }

    .sub-title-VM2 {
        margin-top: 25%;
        font-family: 'Archivo', sans-serif;
        font-size: 14pt;
        line-height: 18pt;
        font-weight: 400;
        margin-left: 13%;
        margin-bottom: 12.5%;
        color: #656368;
    }

    .header-VM {
        font-family: 'Archivo ', sans-serif;
        font-size: 14pt;
        line-height: 40pt;
        font-weight: 700;
        margin-top: 10%;
        padding-bottom: 10%;
        color: black;
    }

    .Viewmaster {
        position: relative;
        margin-left: 13%;
    }

    /******SECTION 2.1 Trolling*******/

    .section-heading-T {
        padding-top: 9%;
        font-family: 'Archivo', sans-serif;
        font-size: 10pt;
        line-height: 5pt;
        font-weight: 400;
        margin-left: 16%;
    }

    .key-line-T {
        height: 1px solid black;
        margin-left: 13%;
        margin-top: 2%;
        width: 140px;
        margin-bottom: 3%;
    }

    .trolling-title {
        margin-bottom: 8%;
        margin-left: 10%;
        font-size: 36pt;
        line-height: 36pt;
        font-weight: 700;
        padding-left: 5%;
    }

    .trolldoll {
        z-index: 2;
        position: relative;
        display: block;
        margin-left: 13%;

    }


    .Dealing1 {
        margin-left: 13%;
        margin-top: 20%;
    }

    .big-header-T {
        font-family: 'Archivo ', sans-serif;
        font-size: 20pt;
        line-height: 24pt;
        font-weight: 700;
        padding-bottom: 10%;
        color: black;
    }

    .header-troll {
        font-size: 14pt;
        line-height: 18pt;
        font-family: 'Archivo', sans-serif;
        font-weight: 400;
        color: #656368;
    }

    .Dealing2 {
        margin-left: 13%;
        margin-top: 20%;
    }

    .header-T {
        font-family: 'Archivo ', sans-serif;
        font-size: 14pt;
        line-height: 40pt;
        font-weight: 700;
        margin-top: 10%;
        padding-bottom: 10%;
        color: black;
    }

    /*STAT 1 Troll*/
    .stat1 {
        font-family: 'Archivo', sans-serif;
        font-size: 28pt;
        line-height: 30pt;
        font-weight: 400;

        position: relative;
        margin-top: -80%;
        margin-left: 60%;
        background: none;
        color: black;

    }

    .smalltype1 {
        font-family: 'Archivo', sans-serif;
        font-weight: 400;
        font-size: 10pt;
        line-height: 12pt;
        position: relative;
        margin-top: -70%;
        margin-left: 60%;
        background: none;
        color: black;
    }

    /*STAT 2 Troll*/
    .stat2 {
        font-family: 'Archivo', sans-serif;
        font-size: 28pt;
        line-height: 30pt;
        font-weight: 400;

        position: relative;
        margin-top: -45%;
        margin-left: 60%;
        background: none;
        color: black;

    }

    .smalltype2 {
        font-family: 'Archivo', sans-serif;
        font-weight: 400;
        font-size: 10pt;
        line-height: 12pt;
        position: relative;
        margin-top: -35%;
        margin-left: 60%;
        background: none;
        color: black;
    }

    /*STAT 3 Troll*/
    .stat3 {
        font-family: 'Archivo', sans-serif;
        font-size: 28pt;
        line-height: 30pt;
        font-weight: 400;

        position: relative;
        margin-top: -25%;
        margin-left: 60%;
        background: none;
        color: black;

    }

    .smalltype3 {
        font-family: 'Archivo', sans-serif;
        font-weight: 400;
        font-size: 10pt;
        line-height: 12pt;
        position: relative;
        margin-top: -15%;
        margin-left: 60%;
        background: none;
        color: black;
    }

}
